<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logowanie do panelu administracyjnego DMD</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+64Nhkz9LsO/P7TFoIhFhw2OFk3GqTAhR7f3miE2MZtgwSw" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <div class="container">
        <!-- Zawartość -->
        <div class="centered dark-mode">
            <div>
                <img src="../static/img/logotypy_dmd_domy.png" alt="" id="logo"/>
            </div>
            <div class="card-header">
                <div class="logo-frame">
                    <strong>Logowanie</strong>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li style="color: green;">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
              </div>
            <div id="login getway">
                <form method="POST" action="{{ url_for('login') }}">
                    {{ form.hidden_tag() }}
                    <div class="input-group flex-nowrap formatuj-margin-top formatuj-inputs">
                        <span class="input-group-text formatuj-inputs" id="addon-wrapping">
                            <i class="bi bi-person-gear"></i>  
                        </span>
                        <!-- <input type="text" class="form-control" placeholder="Nazwa użytkownika" aria-label="Nazwa użytkownika" aria-describedby="addon-wrapping"> -->
                        {{ form.username(class="form-control formatuj-inputs", placeholder="Nazwa użytkownika", aria_label="Nazwa użytkownika", aria_describedby="addon-wrapping") }}
                    </div>
                    <div class="input-group flex-nowrap formatuj-margin-top formatuj-inputs">
                        <span class="input-group-text formatuj-inputs" id="addon-wrapping">
                            <i class="bi bi-key"></i>
                        </span>
                        <!-- <input type="password" class="form-control" placeholder="Hasło" aria-label="Hasło" aria-describedby="addon-wrapping"> -->
                        {{ form.password(class="form-control formatuj-inputs", placeholder="Hasło", aria_label="Hasło", aria_describedby="addon-wrapping") }}
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto formatuj-margin-top">
                        <!-- <div style="padding-top: 15px;">
                            <button class="btn btn-primary" type="button">
                                <i class="bi bi-box-arrow-in-right"></i> Zaloguj się
                            </button>
                        </div> -->
                        {{ form.submit(class="btn btn-success btn-sm formatuj-inputs", type="submit") }}
                            <a href="#" >Zapomniałeś hasła?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>



