{% extends 'base.html' %}

{% block title %}DMD Panel Administratora - Zarządzanie Newsletterem{% endblock %}

{% block addButton %}{% endblock %}
{% block navbarTitle %}<a class="nav-link active dark-mode " aria-current="page" href="#">Zarządzanie Newsletterem</a>{% endblock %}

{% block tableContent%}
<!-- collapse start -->
<div class="jasne rogi formatyj-maly-wiersz">
    <div class="tylko-klej">
        <div class="colapse-column-usual formatuj-left">
            <!-- informacje o Użytkowniku -->
            <div class="user-data">
                <div class="klej">
                    <div class="">
                        <h5 class="fw-bold">Informacje o użytkowniku</h5>
                    </div>
                </div>
                <div class="tylko-klej">
                    <div class="">
                        Email:
                    </div>
                    <div class="">
                        <input  type="text" value="" class="form-control bg-dark" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" id="" placeholder="Imię i Nazwisko" />
                    </div>
                </div>
                <div class="tylko-klej">
                    <div class="profil-desc">
                        Email:
                    </div>
                    <div class="profil-content">
                        <input  type="text" value="" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" id="" placeholder="Imię i Nazwisko" />
                    </div>
                </div>
                <div class="tylko-klej">
                    <div class="profil-desc">
                        Email:
                    </div>
                    <div class="profil-content">
                        <input  type="text" value="" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" id="" placeholder="Imię i Nazwisko" />
                    </div>
                </div>
                <div class="tylko-klej">
                    <div class="profil-desc">
                        Email:
                    </div>
                    <div class="profil-content">
                        <input  type="text" value="" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" id="" placeholder="Imię i Nazwisko" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
 To jest stopka panelu administracyjnego. All right reserved &copy; 2024 by DMD Panel Administratora.<br/>
{% endblock %}