{% extends 'base.html' %}

{% block title %}DMD Panel Administratora - Zarządzanie Aplikacją{% endblock %}

{% block addButton %}
    <li style="margin-left: 15px;">
        <a href="#"><i class="bi bi-plus-square-fill" style="font-size: 18pt; color: rgb(14, 144, 14) !important;"></i></a>
    </li>
{% endblock %}
{% block navbarTitle %}<a class="nav-link active dark-mode " aria-current="page" href="#">Zarządzanie Aplikacją</a>{% endblock %}



{% block footer %}
 To jest stopka panelu administracyjnego. All right reserved &copy; 2024 by DMD Panel Administratora.<br/>
{% endblock %}